*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

.home{
width:100%;
}

/* NAVBAR */

.navbar{
position:absolute;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
z-index:10;
height:50px;
background-color: rgb(240, 249, 237);
}

.logo{
font-size:15px;
font-style:italic;
font-weight:bold;
color:rgb(50, 78, 27);
}

.pages{
   
    padding-left: 250px;
}

/* NAV LINKS CONTAINER */
.nav-links{
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 200px;
}

/* EACH LINK */
.nav-links li{
  position: relative;
  font-size: 15px;
  font-weight: 700px;
  color: rgb(43, 71, 24);
  cursor: pointer;
  transition: 0.3s ease;
  
}

/* HOVER EFFECT */
.nav-links li:hover{
  color: black;
}

/* UNDERLINE ANIMATION */
.nav-links li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: rgb(43, 71, 24);
  transition: 0.3s;
}

.nav-links li:hover::after{
  width: 100%;
}

.nav-buttons button{
margin-left:15px;
padding:10px 20px;
border:none;
border-radius:25px;
cursor:pointer;
font-size:15px;
}

.login-btn{
background:white;
color:black;
}

.register-btn{
background:#00c853;
color:white;
}

.nav-right h2{
  font-weight:bold;
}

/* HERO SECTION */

.hero-container{
position:relative;
background-image: url(../../assets/pic.jpeg);
height: 730px;
padding-top: 60px;
}

.hero{
height:90vh;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:rgb(16, 39, 5);
}

.hero-overlay{
padding-top:10px;
}

.hero-overlay h1{
font-size:45px;
margin-bottom:20px;
}

.hero-overlay p{
font-size:18px;
margin-bottom:30px;
max-width:600px;
margin-left: 15px;
}

.trip-btn{
padding:14px 30px;
font-size:18px;
border:none;
border-radius:30px;
background:#00b34b;
color:white;
cursor:pointer;
transition:0.3s;
}

.trip-btn:hover{
background:#009624;
}


/* SEARCH SECTION */

.search-section{
text-align:center;
padding:70px 20px;
background:#f5f5f5;
}

.search-section h2{
font-size:40px;
margin-bottom:30px;
}

.search-box{
display:flex;
justify-content:center;
align-items:center;
max-width:700px;
margin:auto;
background:white;
border-radius:40px;
overflow:hidden;
box-shadow:0px 4px 15px rgba(0,0,0,0.15);
}

.search-box input{
flex:1;
padding:18px;
border:none;
outline:none;
font-size:16px;
}

.search-box button{
padding:15px 35px;
border:none;
background:#00c853;
color:white;
font-size:16px;
cursor:pointer;
}
.user-section{
  display:flex;
  align-items:center;
  gap:10px;
}

.user-icon{
  font-size:22px;
}